@import '../../style/vars.scss';

.block {
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: $transparentWhite; 
  padding: 30px;
  border-radius: $borderRadius;

  &--first {
    margin-top: 100px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}