.my-flights {
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__seats-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
}