.navigation {
  text-align: right;
  background: rgba(0,0,0,.4);
  padding: 10px;
  border-bottom: 1px solid white;
}

.navigation__button {
  background: none;
  font-size: 14px;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 3px;
}